*.dll
*.aps
*.vcxproj.user
*.pdb
*.tlb
*.csproj.*
*.cache
*.suo
*.cs.orig
*.exe
*.exe.manifest
Win32/*
x64/*
DevRandom/x64/*
DevRandom/Win32/*
ThreadPool/x64/*
ThreadPool/Win32/*
QuickSort/x64/*
QuickSort/Win32/*
_xlk
*.ipch
*.sdf
.vs/*
*.VC.db
ec.cmd
